<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bananaAllRings</string>
	<string>bananaCoin_200</string>
	<string>bananaCoin_500</string>
	<string>bananaCoin_1000</string>
	<string>bananaCoin_3000</string>
</array>
</plist>
